@import '../../index';
$height: 100%;

.row {
    margin: 0;
}

.container {
    height: $height;
}

.wrapper{
    padding-left:50px;
}

main{
    padding-right:0;
}

.wrapper span{
    color:#FFA726;
}
