<md-button class="md-primary md-raised" ng-click="$ctrl.showTabDialog()">
    Widgets
</md-button>
<div class="dialog-choose-widgets-wrapper">
    <div class="md-dialog-container" id="widgetsDialog">
        <md-dialog>
            <fieldset class="standard">
                <legend>Please Choose Widgets</legend>
                <div ng-repeat="item in $ctrl.items" class="standard-div">
                    <label>
                        <span> {{ item }} </span>                                             
                        <md-checkbox                                                              
                        md-no-ink aria-label="Checkbox No Ink"  
                        class="md-primary"
                        ng-checked="$ctrl.exists(item,  $ctrl.selected)"                        
                        ng-click="$ctrl.toggleWidgetsCheckbox(item)"                                                  
                        >
                        </md-checkbox>                                                                                           
                    </label>
                </div>
                <div class="ok">
                    <md-button class="md-raised md-primary" ng-click="$ctrl.toggleDialog(true)">
                        Ok
                    </md-button>
                </div>
                <div class="cancel">
                    <md-button class="md-raised md-primary" ng-click="$ctrl.toggleDialog(false)">
                        Cancel
                    </md-button>
                </div>
            </fieldset>
        </md-dialog>
    </div>
</div>
<div ng-show="$ctrl.widgetsStatus">
    <div ng-repeat="item in $ctrl.selected" class="standard">
        {{ item }}
    </div>
</div>