<div class="sidebar"> 

    <md-sidenav md-component-id="sidebar" md-whiteframe="3" md-disable-backdrop>
            <ul>
                <li>
                    <a ng-click="$ctrl.toggleLeft()">
                        <md-icon md-font-icon="material-icons">{{$ctrl.menuState}}</md-icon>
                    </a>
                </li>
            
                <li ng-repeat="menuItem in $ctrl.menuItemsData">
                    <a ui-sref="{{menuItem.url}}" ui-sref-active="active">
                        <md-icon md-font-icon="material-icons">{{menuItem.icon}}</md-icon>
                        <span>{{menuItem.name}}</span>
                    </a>
                </li>
            </ul>
        </md-sidenav>

</div>
