<md-button class="md-primary md-raised" ng-click="$ctrl.showPatientEditModal($event)">
    Edit patient
</md-button>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="editDialog">
        <md-dialog aria-label="Edit patient information">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Edit patient information</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="$ctrl.hidePatientEditModal()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
        
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-list flex>
                            <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">First name:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Name</label>
                                            <input md-maxlength="100" required name="name" ng-model="$ctrl.patientInfo.firstName" />
                                        </md-input-container>
                                    </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Last name:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.birthData}}</span>
                                    </div>
                                </div>
                            </md-list-item>

                            
                            <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Sex:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.sex}}</span>
                                    </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Birth data:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.birthData}}</span>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Phone:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.phone}}</span>
                                    </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Work phone:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.workPhone}}</span>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Email:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.email}}</span>
                                    </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Business:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.business}}</span>
                                    </div>
                                </div>
                            </md-list-item>
                            <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Zip:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.zip}}</span>
                                    </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">City:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.city}}</span>
                                    </div>
                                </div>
                            </md-list-item>
                        
                            <md-list-item>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">Street:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.street}}</span>
                                    </div>
                                </div>
                                <div flex-xs flex-gt-xs="100" layout="row">
                                    <div flex layout="row" flex-gt-xs="30" layout-align="left">
                                        <span class="no-select">House:</span>
                                    </div>
                                    <div flex layout="row" flex-gt-xs="70" layout-align="left">
                                        <span class="no-select">{{$ctrl.patientInfo.house}}</span>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-dialog-content>
        
                <md-dialog-actions layout="row">                   
                    <md-button ng-click="$ctrl.hidePatientEditModal()">
                        Cancel
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="$ctrl.savePatientEditModal()">
                        Save
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>   
    </div>
</div>
