<h3>Patients</h3>
<md-list flex class="patient-list">
  <md-list-item 
    class="md-5-line" 
    ng-repeat="patient in $ctrl.patients" 
    ng-click="$ctrl.onSelectPatient({ index: patient.id })">
    <div class="md-list-item-text" >
      <span>{{patient.firstName}} {{patient.lastName}}</span>
    </div>
  </md-list-item>
</md-list>
